body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:734px;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:106px;
  width:1024px;
  height:734px;
  display:flex;
}
#u445 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u445_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:254px;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:254px;
  display:flex;
}
#u446 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u446_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:84px;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:13px;
  width:92px;
  height:84px;
  display:flex;
}
#u447 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u447_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:42px;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:106px;
  width:1024px;
  height:42px;
  display:flex;
}
#u448 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u448_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:629px;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:148px;
  width:1024px;
  height:629px;
  display:flex;
}
#u449 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:849px;
  top:148px;
  width:175px;
  height:297px;
}
#u451_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:297px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u452 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:297px;
}
#u453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:37px;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:37px;
  display:flex;
  font-size:16px;
  color:#0B6C8E;
  text-align:right;
}
#u453 .text {
  position:absolute;
  align-self:center;
  padding:2px 35px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:43px;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:37px;
  width:175px;
  height:43px;
  display:flex;
  font-family:'Hacen Tunisia', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0B6C8E;
  text-align:right;
}
#u454 .text {
  position:absolute;
  align-self:center;
  padding:2px 35px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u454_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:39px;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:175px;
  height:39px;
  display:flex;
  font-size:16px;
  color:#0B6C8E;
  text-align:right;
}
#u455 .text {
  position:absolute;
  align-self:center;
  padding:2px 35px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u455_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:44px;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:175px;
  height:44px;
  display:flex;
  font-size:16px;
  color:#3D7F9B;
  text-align:right;
}
#u456 .text {
  position:absolute;
  align-self:center;
  padding:2px 35px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:44px;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:164px;
  width:175px;
  height:44px;
  display:flex;
  font-size:16px;
  color:#0B6C8E;
  text-align:right;
}
#u457 .text {
  position:absolute;
  align-self:center;
  padding:2px 35px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u457_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:44px;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:208px;
  width:175px;
  height:44px;
  display:flex;
  font-size:16px;
  text-align:right;
}
#u458 .text {
  position:absolute;
  align-self:center;
  padding:2px 35px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u458_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:44px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:253px;
  width:175px;
  height:44px;
  display:flex;
  font-size:16px;
  text-align:right;
}
#u459 .text {
  position:absolute;
  align-self:center;
  padding:2px 35px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:37px;
  width:151px;
  height:172px;
  visibility:hidden;
}
#u460_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:172px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u461 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:172px;
}
#u462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:43px;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:43px;
  display:flex;
  font-family:'Hacen Tunisia', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0B6C8E;
  text-align:right;
}
#u462 .text {
  position:absolute;
  align-self:center;
  padding:2px 35px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u462_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:43px;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:43px;
  width:151px;
  height:43px;
  display:flex;
  font-family:'Hacen Tunisia', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0B6C8E;
  text-align:right;
}
#u463 .text {
  position:absolute;
  align-self:center;
  padding:2px 35px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u463_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:43px;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:151px;
  height:43px;
  display:flex;
  font-family:'Hacen Tunisia', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0B6C8E;
  text-align:right;
}
#u464 .text {
  position:absolute;
  align-self:center;
  padding:2px 35px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:43px;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:129px;
  width:151px;
  height:43px;
  display:flex;
  font-family:'Hacen Tunisia', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0B6C8E;
  text-align:right;
}
#u465 .text {
  position:absolute;
  align-self:center;
  padding:2px 35px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:80px;
  width:175px;
  height:156px;
  visibility:hidden;
}
#u466_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:156px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u467 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:156px;
}
#u468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:39px;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:39px;
  display:flex;
  font-size:16px;
  color:#0B6C8E;
  text-align:right;
}
#u468 .text {
  position:absolute;
  align-self:center;
  padding:2px 35px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:39px;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:39px;
  width:175px;
  height:39px;
  display:flex;
  font-size:16px;
  color:#0B6C8E;
  text-align:right;
}
#u469 .text {
  position:absolute;
  align-self:center;
  padding:2px 35px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:39px;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:78px;
  width:175px;
  height:39px;
  display:flex;
  font-size:16px;
  color:#0B6C8E;
  text-align:right;
}
#u470 .text {
  position:absolute;
  align-self:center;
  padding:2px 35px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:39px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:117px;
  width:175px;
  height:39px;
  display:flex;
  font-size:16px;
  color:#0B6C8E;
  text-align:right;
}
#u471 .text {
  position:absolute;
  align-self:center;
  padding:2px 35px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:999px;
  top:157px;
  width:17px;
  height:17px;
  display:flex;
  color:#0B6C8E;
}
#u472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:999px;
  top:195px;
  width:17px;
  height:17px;
  display:flex;
  color:#0B6C8E;
}
#u473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:999px;
  top:238px;
  width:17px;
  height:17px;
  display:flex;
  color:#0B6C8E;
}
#u474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:324px;
  width:25px;
  height:20px;
  display:flex;
  color:#0B6C8E;
}
#u475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:999px;
  top:280px;
  width:17px;
  height:17px;
  display:flex;
  color:#0B6C8E;
}
#u476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Hacen Tunisia', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#0B6C8E;
  text-align:right;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:168px;
  width:199px;
  height:35px;
  display:flex;
  font-family:'Hacen Tunisia', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#0B6C8E;
  text-align:right;
}
#u477 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:115px;
  width:26px;
  height:25px;
  display:flex;
}
#u478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#EFF5F7;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:109px;
  width:45px;
  height:36px;
  display:flex;
  color:#EFF5F7;
}
#u479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u479_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:330px;
  width:921px;
  height:149px;
}
#u481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:42px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:42px;
  display:flex;
  color:#0B6C8E;
  text-align:center;
}
#u481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:42px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:0px;
  width:87px;
  height:42px;
  display:flex;
  color:#0B6C8E;
  text-align:center;
}
#u482 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:42px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:0px;
  width:126px;
  height:42px;
  display:flex;
  color:#0B6C8E;
  text-align:center;
}
#u483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:42px;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:0px;
  width:128px;
  height:42px;
  display:flex;
  color:#0B6C8E;
  text-align:center;
}
#u484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:42px;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:0px;
  width:108px;
  height:42px;
  display:flex;
  color:#0B6C8E;
  text-align:center;
}
#u485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:42px;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:0px;
  width:125px;
  height:42px;
  display:flex;
  color:#0B6C8E;
  text-align:center;
}
#u486 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u486_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:42px;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:0px;
  width:181px;
  height:42px;
  display:flex;
  color:#0B6C8E;
  text-align:center;
}
#u487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:42px;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:0px;
  width:51px;
  height:42px;
  display:flex;
  color:#0B6C8E;
  text-align:center;
}
#u488 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u488_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:35px;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:115px;
  height:35px;
  display:flex;
  font-size:17px;
}
#u489 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:35px;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:42px;
  width:87px;
  height:35px;
  display:flex;
  font-size:17px;
}
#u490 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:35px;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:42px;
  width:126px;
  height:35px;
  display:flex;
  font-size:17px;
  text-align:center;
}
#u491 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:42px;
  width:128px;
  height:35px;
  display:flex;
  font-size:17px;
  text-align:center;
}
#u492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:35px;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:42px;
  width:108px;
  height:35px;
  display:flex;
  font-size:17px;
  text-align:center;
}
#u493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:42px;
  width:125px;
  height:35px;
  display:flex;
  font-size:17px;
  text-align:left;
}
#u494 .text {
  position:absolute;
  align-self:center;
  padding:2px 15px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:35px;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:42px;
  width:181px;
  height:35px;
  display:flex;
  font-size:17px;
}
#u495 .text {
  position:absolute;
  align-self:center;
  padding:2px 15px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u495_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:35px;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:42px;
  width:51px;
  height:35px;
  display:flex;
  font-size:17px;
  text-align:center;
}
#u496 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:77px;
  width:115px;
  height:36px;
  display:flex;
  font-size:17px;
}
#u497 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u497_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:36px;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:77px;
  width:87px;
  height:36px;
  display:flex;
  font-size:17px;
}
#u498 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u498_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:77px;
  width:126px;
  height:36px;
  display:flex;
  font-size:17px;
  text-align:center;
}
#u499 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u499_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:36px;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:77px;
  width:128px;
  height:36px;
  display:flex;
  font-size:17px;
  text-align:center;
}
#u500 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u500_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:77px;
  width:108px;
  height:36px;
  display:flex;
  font-size:17px;
  text-align:center;
}
#u501 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u501_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:36px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:77px;
  width:125px;
  height:36px;
  display:flex;
  font-size:17px;
}
#u502 .text {
  position:absolute;
  align-self:center;
  padding:2px 15px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:77px;
  width:181px;
  height:36px;
  display:flex;
  font-size:17px;
}
#u503 .text {
  position:absolute;
  align-self:center;
  padding:2px 15px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u503_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:77px;
  width:51px;
  height:36px;
  display:flex;
  font-size:17px;
  text-align:center;
}
#u504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:113px;
  width:115px;
  height:36px;
  display:flex;
  font-size:17px;
}
#u505 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:36px;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:113px;
  width:87px;
  height:36px;
  display:flex;
  font-size:17px;
}
#u506 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:113px;
  width:126px;
  height:36px;
  display:flex;
  font-size:17px;
  text-align:center;
}
#u507 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:36px;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:113px;
  width:128px;
  height:36px;
  display:flex;
  font-size:17px;
  text-align:center;
}
#u508 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:113px;
  width:108px;
  height:36px;
  display:flex;
  font-size:17px;
  text-align:center;
}
#u509 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u509_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:36px;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:113px;
  width:125px;
  height:36px;
  display:flex;
  font-size:17px;
}
#u510 .text {
  position:absolute;
  align-self:center;
  padding:2px 15px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:113px;
  width:181px;
  height:36px;
  display:flex;
  font-size:17px;
}
#u511 .text {
  position:absolute;
  align-self:center;
  padding:2px 15px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u511_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:113px;
  width:51px;
  height:36px;
  display:flex;
  font-size:17px;
  text-align:center;
}
#u512 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u512_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:40px;
  background:inherit;
  background-color:rgba(61, 127, 155, 1);
  border:none;
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:264px;
  width:74px;
  height:40px;
  display:flex;
  text-align:center;
}
#u513 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u513_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:40px;
  background:inherit;
  background-color:rgba(61, 127, 155, 1);
  border:none;
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:264px;
  width:74px;
  height:40px;
  display:flex;
  text-align:center;
}
#u514 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u514_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
