body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:850px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:734px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:106px;
  width:1024px;
  height:734px;
  display:flex;
}
#u50 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u50_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:254px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:254px;
  display:flex;
}
#u51 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u51_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:84px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:13px;
  width:92px;
  height:84px;
  display:flex;
}
#u52 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:42px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:106px;
  width:1024px;
  height:42px;
  display:flex;
}
#u53 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:629px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:148px;
  width:1024px;
  height:629px;
  display:flex;
}
#u54 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u54_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:849px;
  top:148px;
  width:175px;
  height:297px;
}
#u56_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:297px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u57 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:297px;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:37px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:37px;
  display:flex;
  font-size:16px;
  color:#0B6C8E;
  text-align:right;
}
#u58 .text {
  position:absolute;
  align-self:center;
  padding:2px 35px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u58_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:43px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:37px;
  width:175px;
  height:43px;
  display:flex;
  font-family:'Hacen Tunisia', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0B6C8E;
  text-align:right;
}
#u59 .text {
  position:absolute;
  align-self:center;
  padding:2px 35px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:39px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:175px;
  height:39px;
  display:flex;
  font-size:16px;
  color:#0B6C8E;
  text-align:right;
}
#u60 .text {
  position:absolute;
  align-self:center;
  padding:2px 35px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u60_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:44px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:175px;
  height:44px;
  display:flex;
  font-size:16px;
  color:#3D7F9B;
  text-align:right;
}
#u61 .text {
  position:absolute;
  align-self:center;
  padding:2px 35px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u61_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:44px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:164px;
  width:175px;
  height:44px;
  display:flex;
  font-size:16px;
  color:#0B6C8E;
  text-align:right;
}
#u62 .text {
  position:absolute;
  align-self:center;
  padding:2px 35px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u62_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:44px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:208px;
  width:175px;
  height:44px;
  display:flex;
  font-size:16px;
  text-align:right;
}
#u63 .text {
  position:absolute;
  align-self:center;
  padding:2px 35px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:44px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:253px;
  width:175px;
  height:44px;
  display:flex;
  font-size:16px;
  text-align:right;
}
#u64 .text {
  position:absolute;
  align-self:center;
  padding:2px 35px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:37px;
  width:151px;
  height:172px;
  visibility:hidden;
}
#u65_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:172px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u66 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:172px;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:43px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:43px;
  display:flex;
  font-family:'Hacen Tunisia', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0B6C8E;
  text-align:right;
}
#u67 .text {
  position:absolute;
  align-self:center;
  padding:2px 35px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:43px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:43px;
  width:151px;
  height:43px;
  display:flex;
  font-family:'Hacen Tunisia', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0B6C8E;
  text-align:right;
}
#u68 .text {
  position:absolute;
  align-self:center;
  padding:2px 35px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:43px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:151px;
  height:43px;
  display:flex;
  font-family:'Hacen Tunisia', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0B6C8E;
  text-align:right;
}
#u69 .text {
  position:absolute;
  align-self:center;
  padding:2px 35px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u69_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:43px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:129px;
  width:151px;
  height:43px;
  display:flex;
  font-family:'Hacen Tunisia', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0B6C8E;
  text-align:right;
}
#u70 .text {
  position:absolute;
  align-self:center;
  padding:2px 35px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u70_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:80px;
  width:175px;
  height:156px;
  visibility:hidden;
}
#u71_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:156px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u72 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:156px;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:39px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:39px;
  display:flex;
  font-size:16px;
  color:#0B6C8E;
  text-align:right;
}
#u73 .text {
  position:absolute;
  align-self:center;
  padding:2px 35px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:39px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:39px;
  width:175px;
  height:39px;
  display:flex;
  font-size:16px;
  color:#0B6C8E;
  text-align:right;
}
#u74 .text {
  position:absolute;
  align-self:center;
  padding:2px 35px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:39px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:78px;
  width:175px;
  height:39px;
  display:flex;
  font-size:16px;
  color:#0B6C8E;
  text-align:right;
}
#u75 .text {
  position:absolute;
  align-self:center;
  padding:2px 35px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u75_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:39px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:117px;
  width:175px;
  height:39px;
  display:flex;
  font-size:16px;
  color:#0B6C8E;
  text-align:right;
}
#u76 .text {
  position:absolute;
  align-self:center;
  padding:2px 35px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:999px;
  top:157px;
  width:17px;
  height:17px;
  display:flex;
  color:#0B6C8E;
}
#u77 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:999px;
  top:195px;
  width:17px;
  height:17px;
  display:flex;
  color:#0B6C8E;
}
#u78 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:999px;
  top:238px;
  width:17px;
  height:17px;
  display:flex;
  color:#0B6C8E;
}
#u79 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u79_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:324px;
  width:25px;
  height:20px;
  display:flex;
  color:#0B6C8E;
}
#u80 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u80_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:999px;
  top:280px;
  width:17px;
  height:17px;
  display:flex;
  color:#0B6C8E;
}
#u81 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Hacen Tunisia', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#0B6C8E;
  text-align:right;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:168px;
  width:199px;
  height:35px;
  display:flex;
  font-family:'Hacen Tunisia', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#0B6C8E;
  text-align:right;
}
#u82 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:115px;
  width:26px;
  height:25px;
  display:flex;
}
#u83 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#EFF5F7;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:109px;
  width:45px;
  height:36px;
  display:flex;
  color:#EFF5F7;
}
#u84 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u84_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:302px;
  width:652px;
  height:149px;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:41px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:41px;
  display:flex;
  color:#0B6C8E;
  text-align:center;
}
#u86 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u86_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:41px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:0px;
  width:144px;
  height:41px;
  display:flex;
  color:#0B6C8E;
  text-align:center;
}
#u87 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:41px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:0px;
  width:200px;
  height:41px;
  display:flex;
  color:#0B6C8E;
  text-align:center;
}
#u88 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:41px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:0px;
  width:213px;
  height:41px;
  display:flex;
  color:#0B6C8E;
  text-align:center;
}
#u89 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u89_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:32px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:41px;
  width:95px;
  height:32px;
  display:flex;
  font-size:17px;
}
#u90 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u90_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:32px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:41px;
  width:144px;
  height:32px;
  display:flex;
  font-size:17px;
  text-align:center;
}
#u91 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u91_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:41px;
  width:200px;
  height:32px;
  display:flex;
  font-size:17px;
  text-align:center;
}
#u92 .text {
  position:absolute;
  align-self:center;
  padding:2px 15px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u92_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:32px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:41px;
  width:213px;
  height:32px;
  display:flex;
  font-size:17px;
}
#u93 .text {
  position:absolute;
  align-self:center;
  padding:2px 15px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u93_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:39px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:73px;
  width:95px;
  height:39px;
  display:flex;
  font-size:17px;
}
#u94 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u94_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:39px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:73px;
  width:144px;
  height:39px;
  display:flex;
  font-size:17px;
  text-align:center;
}
#u95 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u95_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:39px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:73px;
  width:200px;
  height:39px;
  display:flex;
  font-size:17px;
  text-align:center;
}
#u96 .text {
  position:absolute;
  align-self:center;
  padding:2px 15px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u96_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:39px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:73px;
  width:213px;
  height:39px;
  display:flex;
  font-size:17px;
}
#u97 .text {
  position:absolute;
  align-self:center;
  padding:2px 15px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:37px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:112px;
  width:95px;
  height:37px;
  display:flex;
  font-size:17px;
}
#u98 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u98_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:37px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:112px;
  width:144px;
  height:37px;
  display:flex;
  font-size:17px;
  text-align:center;
}
#u99 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u99_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:37px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:112px;
  width:200px;
  height:37px;
  display:flex;
  font-size:17px;
  text-align:center;
}
#u100 .text {
  position:absolute;
  align-self:center;
  padding:2px 15px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:37px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:112px;
  width:213px;
  height:37px;
  display:flex;
  font-size:17px;
}
#u101 .text {
  position:absolute;
  align-self:center;
  padding:2px 15px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:40px;
  background:inherit;
  background-color:rgba(61, 127, 155, 1);
  border:none;
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:302px;
  width:74px;
  height:40px;
  display:flex;
  text-align:center;
}
#u102 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
